<launch>
    <param name="apartment_urdf" command="$(find xacro)/xacro --inorder '$(find limo_gazebo)/urdf/apartment.urdf.xacro'" />
    <param name="apartment_decorations_urdf" command="$(find xacro)/xacro --inorder '$(find limo_gazebo)/urdf/decorations.urdf.xacro'" />
    <param name="apartment_floor_urdf" command="$(find xacro)/xacro --inorder '$(find limo_gazebo)/urdf/floor.urdf.xacro'" />

    <arg name="use_sim_time" default="true" />
    <arg name="gui" default="true" />
    <arg name="headless" default="false" />
    <arg name="paused" default="true"/>
    <arg name="gui_required" default="true"/>
    <arg name="world_name" default="$(find limo_gazebo)/worlds/empty.world" />

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <arg name="debug" value="0" />
      <arg name="gui" value="$(arg gui)" />
      <arg name="use_sim_time" value="$(arg use_sim_time)" />
      <arg name="headless" value="$(arg headless)" />
      <arg name="paused" value="$(arg paused)" />
      <arg name="gui_required" value="$(arg gui_required)" />
      <arg name="world_name" value="$(arg world_name)" />
    </include>

    <node name="apartment_spawner" pkg="gazebo_ros" type="spawn_model" args="-urdf -model apartment -param apartment_urdf" />
    <node name="decorations_spawner" pkg="gazebo_ros" type="spawn_model" args="-urdf -model apartment_decorations -param apartment_decorations_urdf" />
    <node name="floor_spawner" pkg="gazebo_ros" type="spawn_model" args="-urdf -model apartment_floor -param apartment_floor_urdf" />
</launch>
