<?xml version="1.0"?>
<robot name="limo_apartment" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <link name="limo_structure_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1"/>
      <inertia ixx="0.16667" ixy="0" ixz="0" iyy="0.16667" iyz="0" izz="0.16667"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://limo_gazebo/meshes/Structure.dae"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://limo_gazebo/meshes/Structure.stl"/>
      </geometry>
    </collision>
  </link>
  <gazebo>
    <static>true</static>
  </gazebo>
</robot>
