<?xml version="1.0"?>
<launch>
    <arg name="map_file" default="$(find limo_navigation)/maps/apartment.yaml"/>
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />
    
    <node pkg="amcl" type="amcl" name="amcl" output="screen">
        <rosparam file="$(find limo_navigation)/params/amcl_params.yaml" command="load" />
    </node>

    <include file="$(find limo_navigation)/launch/limo_move_base_ackerman.launch" />
</launch>